# Python caches
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environments
venv/
.env/
.env.*

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Temp files
*.tmp
*.swp

.obsidian/
downloads/
